<template>
  <div>
    <div class="mb-2">
      <p>
        Scrobble Together listens for the scrobbles of another last.fm user and
        replicates them to your last.fm profile. Imagine you're in a music
        library or other kind of venue, or in the car listening together, and
        you want to add the songs you're both listening to on your last.fm:
        Scrobble Together is perfect for that. All you need to do is to log in
        with last.fm, and type in someone else's last.fm username.
      </p>
      <b-button
        variant="primary"
        :href="lfmLoginUrl"
        target="_blank"
        rel="noopener"
      >
        <font-awesome-icon :icon="['fab', 'lastfm']" /> Login with last.fm
      </b-button>
      <b-button v-if="haveSession" variant="success" to="/user"
        >Continue as {{ username }}</b-button
      >
    </div>
    <b-form @submit="submit">
      <b-form-group
        label="If you have a last.fm authentication token, spit it here:"
        label-for="token"
      >
        <b-form-textarea id="token" v-model="token" required></b-form-textarea>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
    <b-modal id="lfm-error-modal" title="Last.fm error" ok-only
      >That didn't work. Last.fm says: {{ this.lfmErrorMessage }}</b-modal
    >
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapState, mapGetters } from "vuex";
import {
  BButton,
  BForm,
  BFormGroup,
  BFormTextarea,
  BModal
} from "bootstrap-vue";

export default Vue.extend({
  components: {
    BButton,
    BForm,
    BFormGroup,
    BFormTextarea,
    BModal
  },
  data() {
    return {
      lfmLoginUrl: `http://www.last.fm/api/auth/?api_key=${process.env.VUE_APP_LASTFM_API_KEY}`,
      token: "",
      lfmErrorMessage: ""
    };
  },
  computed: {
    ...mapState(["username"]),
    ...mapGetters(["haveSession"])
  },
  methods: {
    async submit(ev: Event) {
      ev.preventDefault();
      try {
        await this.$store.dispatch("loginWithToken", this.token);
      } catch (ex) {
        console.error(ex);
        this.lfmErrorMessage = ex.message;
        this.$bvModal.show("lfm-error-modal");
      }
    }
  }
});
</script>
