<template>
  <div>
    <p>we're logged in as {{ username }}</p>
    <b-button block variant="danger" @click="logout">Log out</b-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapMutations, mapState } from "vuex";
import { BButton } from "bootstrap-vue";

const POLL_INTERVAL = 1000 * 40;

export default Vue.extend({
  components: {
    BButton
  },
  data() {
    return {
      timerId: 0
    };
  },
  computed: {
    ...mapState(["username"])
  },
  methods: {
    ...mapMutations(["logout"]),
    poll() {
      console.log("called at " + Date());
    }
  },
  created() {
    this.timerId = setInterval(this.poll.bind(this), POLL_INTERVAL);
  },
  beforeDestroy() {
    clearInterval(this.timerId);
  }
});
</script>
