<template>
  <div id="app">
    <b-navbar class="navbar-bar-red">
      <b-navbar-brand>Scrobble Together</b-navbar-brand>
      <b-navbar-nav class="ml-auto" v-if="haveSession">
        <b-nav-text>{{ username }}</b-nav-text>
        <b-nav-item>Log out</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <b-container class="mt-4 mb-4">
      <!-- <router-view /> -->
      <home v-if="!haveSession" />
      <user v-else />
    </b-container>
  </div>
</template>

<style lang="scss">
.navbar-bar-red {
  background-color: #d01f3c;

  .navbar-brand,
  .navbar-brand:focus,
  .navbar-text,
  .nav-link {
    color: #fff !important;
  }

  .nav-link:focus,
  .nav-link:hover {
    color: rgba(255, 255, 255, 0.7) !important;
  }
}
</style>

<script lang="ts">
import Vue from "vue";
import { mapState, mapActions, mapGetters } from "vuex";
import {
  BNavbar,
  BNavbarBrand,
  BNavbarNav,
  BNavText,
  BNavItem,
  BContainer
} from "bootstrap-vue";
import Home from "./views/Home.vue";
const User = () => import("./views/User.vue");

export default Vue.extend({
  components: {
    BNavbar,
    BNavbarBrand,
    BNavbarNav,
    BNavText,
    BNavItem,
    BContainer,
    Home,
    User
  },
  computed: {
    ...mapState(["username"]),
    ...mapGetters(["haveSession"])
  },
  methods: {
    ...mapActions(["logout"])
  }
});
</script>
